<div class="w-44 bg-gray-800 text-white p-5 h-screen">
    <div class="mb-10">
        <div class="text-white font-bold text-xl h-10 flex items-center">mslee</div>
    </div>
    <ul>
        <li class="mb-2"><a href="/" class="hover:text-blue-300 text-xs">Naver blog</a></li>
        <li class="mb-2"><a href="/contents" class="hover:text-blue-300 text-xs">Blog content</a></li>
        <li class="mb-2"><a href="/naver_keyword" class="hover:text-blue-300 text-xs">Naver Keyword</a></li>
        <li class="mb-2"><a href="/map" class="hover:text-blue-300 text-xs">Naver Place</a></li>
    </ul>
</div>
